@font-face {
    font-family: heading;
    src: url(CentralVintage.ttf);
}

@font-face {
    font-family: body;
    src: url(Fredoka-VariableFont_wdth\,wght.ttf)
}

@font-face {
    font-family: subheading;
    src: url(AbrilFatface-Regular.ttf);
}

:root {
    --color1: #003049;
    --color2: #D62828;
    --color3: #F77F00; 
    --color4: #FCBF49; 
    --color5: #EAE2B7;
}

#title {
    background-color: var(--color2);
    margin:0;
    height: 50%;
    padding: 20px 20px 20px 20px;
    
}

h1 {
    font-family:heading;
    text-align: center;
    font-size: 125px;
    color:var(--color4);
    font-weight: normal;
    margin:0;
    padding-top: 20px
    
}

body {
    background-color: var(--color5);
    padding: 0;
    margin: 0;
}

.footer li {
    text-align: center;
    border: solid;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
    font-family: subheading;
    background-color: var(--color3);
    border-color: var(--color2);
}

.footer ul {
    display: inline-block;
}

footer {
    text-align: center;
    background-color: var(--color1);
    padding: 30px 30px;
}

footer a:link { 
    text-decoration: none; 
    color: var(--color5);
} 
footer a:visited { 
    text-decoration: none; 
    color: var(--color5);
} 
footer a:hover { 
    text-decoration: none;
    color: var(--color5);
}
footer a:active { 
    text-decoration: none; 
    color: var(--color5);
}

nav {
    background-color:var(--color3);
    text-align: center;
    color:var(--color1);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav a {
    float:left;
    color: var(--color1);
    text-align: center;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 24px;
    font-family: subheading;
    margin:0;
    width: 50%;

}

nav a:hover {
    background-color: var(--color4);
    color: var(--color5);
}

nav a.active {
    background-color: var(--color1);
    color: var(--color3);
}

#about {
    background-color: var(--color4);
    margin-top: 50px;
    margin-bottom: 30px;

}

.box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 85%;
    margin-top: 40px;
    border-radius: 30px;
}

#aboutText {
    width: 60%;
    text-align: center;
    font-family: body;
    font-size: 22px;
    color: var(--color1);
    vertical-align: middle;
    border-radius: 10px;
    display: inline-flex;
}

#about img {
    width: 30%;
    vertical-align: middle;
    display: inline-flex;
    margin-bottom: 0px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: 1s;
    transition-property: transform, filter, opacity;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

h2 {
    font-family: heading;
    font-size: 45px;
    text-decoration: none;
    font-weight: none;
    margin: 0;
    padding: 10px 10px;
}

.little {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.resume {
    padding: 5px 10px;
    text-align: center;
}

#education {
    background-color: var(--color3);
    color: var(--color1);
    text-align: center; 
}

#skills {
    background-color: var(--color1);
    color: var(--color5);
    text-align: center; 
}

#work {
    background-color: var(--color2);
    color: var(--color4);
    text-align: center;
}

.hiddenskill {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: 1s;
    transition-property: transform, filter, opacity;
}

.showskill {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

h3 {
    font-family: subheading;
    font-weight: none;
    text-decoration: none;
    padding: 1px 1px;
    margin: 0;
    font-size: 25px;
}

h4 {
    font-family: subheading;
    font-weight: none;
    text-decoration: none;
    padding: 1px 1px;
    margin: 0;
}

h5 {
    font-family: body;
    font-weight: none;
    text-decoration: none;
    padding: 1px 1px;
    margin: 0;
    font-size: 25px;
    color: var(--color4)
}

.little {
    padding: 20px 20px;
    border-radius: 30px;
    text-align: left;
    margin-bottom: 25px;
}

.resume p {
    font-family: body;
    font-size: 20px;
}

#unc {
    background-color: var(--color1);
    color: var(--color5);
} 

#glhs {
    background-color: var(--color4);
    color: var(--color1)
}

#coldstone {
    background-color: var(--color5);
    color: var(--color2)
}

#bestbrains {
    background-color: var(--color3);
    color: var(--color1)
}

.skill {
    display: inline-block;
    width: 25%;
    margin-bottom: 10px;
    transition: 0.5s;
    transition-property: width;
}

.skill:hover {
    width: 35%;
    font-size: 30px;
}

.skill:hover h5{
    font-size: 30px;
}