@font-face {
    font-family: heading1;
    src: url(Bavista_Soulare.ttf);
}

@font-face {
    font-family: heading2;
    src: url(CentralVintage.ttf);
}


h1 {
    font-family:heading1;
    text-align: center;
    font-size: 100px;
    color:#a41623;
    font-weight: normal;
}

h2 {
    font-family:heading2;
    text-align: center;
    font-size: 100px;
    color:#772f1a;
    font-weight: normal;
}

body {
    background-color: #fefee3;
}

p {
    text-align: center;
}